
.Rproj.user
.Rhistory
.RData
.Ruserdata

*.shp
*.gpkg
*.tif
*.png

data/cases/archive
data/IPBES_regions_subregions
data/tests
data/visions
data/Population_FAO

src/extract_indicators.R
src/visions.R
src/cases.R

output/visions
output/cases/tests

