IPBES_xxx_Chy_project_template.code-workspace
.Rproj.user
.Rhistory
.RData
.Ruserdata
data/cases
data/visions
data/Population_FAO
data/tests
data/IPBES_regions_subregions
*.shp
*.gpkg
*.tif
src/cases.R
src/extract_indicators.R
src/visions.R
output/visions
output/cases
